.send-button {
  background-color: $color-fuchsia;
  border-radius: 16px;
  width: 119px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $color-white;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 16px;
    &__text {
      line-height: 24px;
    }

    &__img {
      width: 7px;
      height: 10px;
    }
}